/* Resetting default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    background: #d2b95e;
    color: #333;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
}

header {
    background-color: #333;
    color: white;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 2px transparent;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #333;
    border-color: white;
}

main {
    display: flex;
    padding: 80px 20px 20px; /* Adding top padding to avoid overlap with fixed header */
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
}

aside {
    width: 20%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

aside h2, .filter h3 {
    margin-bottom: 10px;
}

.filter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter ul li {
    margin-bottom: 10px;
}

.filter ul li input {
    margin-right: 5px;
}

.products {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Animation for product containers */
.product {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(33.333% - 20px); /* 3 products per row with 20px gap */
    animation: fadeIn 0.5s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}



/* Define fadeIn animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}
